doctype html
html
    head
        title Therapist Information
    body
        table(border="1px")
            tr
               
                th Therapist Name
               
            each row in results
                tr
                 
                    td= row.TherapistName
                    td Please click on my name to see my full details ---
                         a(href='/doctordetails/' + row.Therapist_Reg_No) #{row.TherapistName}

       
