doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    style 
      include ./Assets/css/mycss.css
      include ./assets/css/custom.css
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    title profile
body
    nav
        input#check(type='checkbox')
        label.checkbtn(for='check')
            i.fa.fa-bars(aria-hidden='true')
        a.fgalogo(href='#')
        label.logo TOF-ONLINETHERAPY
        ul.menus
            li
                a.active(href='/') Home
            li
                a.active(href='Therapists.html') Therapists
            li
                a.active(href='profile.html') Profile
            li
                a(href='signin.html')
                    span.signbtn  Login 
    br
    .container
      .profile-header
        .profile-img
          img(src='assets/img/doctor 1.jpg' width='200' alt='Profile Image')
        .profile-nav-info
          h3.user-name Welcome
        .profile-option
          .notification
            i.fa.fa-bell
            span.alert-message 3
      .main-bd
        .left-side
          .profile-side
            p.mobile-no
              i.fa.fa-phone
              |  phone number
            p.user-mail
              i.fa.fa-envelope
              |  email
            .user-bio
              h3 Username
              p.bio
            .profile-btn
              button#chatBtn.chatbtn
                i.fa.fa-comment
                |  Previous session
              button#Create-post.createbtn
                i.fa.fa-plus
                |  Future session
        .right-side
          .nav
            ul
              li.user-post.active(onclick='tabs(0)') Future Sessions
              li.user-review(onclick='tabs(1)') Previous sessions
              li.user-setting(onclick='tabs(2)')  Settings
          .profile-body
            .profile-posts.tab
              h1 Future sessions
                p The future sessions should display here
            .profile-reviews.tab
              h1 Previous session
                p The previous sessions should show here
            .profile-settings.tab
              .account-setting
                h1 Settings
                  p Small settings of account will be facilitated here
    //- Script block starts here
    script.
      document.querySelectorAll(".nav ul li").forEach(function(element) {
          element.addEventListener("click", function() {
              document.querySelectorAll(".nav ul li").forEach(function(el) {
                  el.classList.remove("active");
              });
              this.classList.add("active");
              const index = Array.from(this.parentNode.children).indexOf(this);
              tabs(index);
          });
      });
      const tabBtn = document.querySelectorAll(".nav ul li");
      const tab = document.querySelectorAll(".tab");
      function tabs(panelIndex) {
          tab.forEach(function(node) {
              node.style.display = "none";
          });
          tab[panelIndex].style.display = "block";
      }
      tabs(0);
      const bio = document.querySelector(".bio");
      const bioMore = document.querySelector("#see-more-bio");
      const bioLength = bio.innerText.length;
      function bioText() {
          bio.oldText = bio.innerText;
          bio.innerText = bio.innerText.substring(0, 100) + "...";
          bio.innerHTML += <span onclick='addLength()' id='see-more-bio'>See More</span>;
      }
      bioText();
      function addLength() {
          bio.innerText = bio.oldText;
          bio.innerHTML +=
              "&nbsp;" + <span onclick='bioText()' id='see-less-bio'>See Less</span>;
          document.getElementById("see-less-bio").addEventListener("click", () => {
              document.getElementById("see-less-bio").style.display = "none";
          });
      }
      if (document.querySelector(".alert-message").innerText.length > 9) {
          document.querySelector(".alert-message").style.fontSize = ".7rem";
      }
    //- Script block ends here




    